.ArticleListItem__container {
  position: relative;
  /* margin: 10px;
  display: flex;
  align-items: center; */
  margin-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.ArticleListItem {
  background: none;
  display: flex;
  flex-direction: column;
  font-size: smaller;
  text-decoration: none;
  box-shadow: 0px 5px 12px -1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.ArticleListItem:hover {
  cursor: pointer;
}

.ArticleListItem,
.ArticleListItem:visited {
  color: #555;
}

.ArticleListItem__image {
  height: 150px;
  width: 275px;
  border-radius: 10px 10px 0 0;
  background-size: cover;
  background-position: 50% 50%;
}

.ArticleListItem__delete {
  /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5); */
  background-color: #fff;
  text-align: center;
  height: 30px;
  width: 34px;
  border: 0px gray;
  border-radius: 9px;
  margin: 6px;
  top: 0;
  right: 0;
  position: absolute;
  font-size: x-large;
  cursor: pointer;
}

.ArticleListItem__details {
  padding: 10px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  width: 255px;
  text-align: center;
}

.ArticleListItem__details h2 {
  margin: 0;
}
